################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
HouseScriptClient/bin/**
HouseScriptClient/obj/**
HouseScriptServer/bin/**
HouseScriptServer/obj/**
*.dll
*.pdb
packages/**
HouseScriptClient/obj/Debug/House.net.dll
*.cache